@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 33, 37, 41;
  --background-start-rgb: 33, 37, 41;
  --background-end-rgb: 18, 22, 34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.navItem:before {
  content: "";
  transition: width 0.5s ease-out, height 0.3s ease-out;
  transition-delay: 0s, 0.5s;
}


.linkAnimation {
  position: relative;
  overflow: hidden;
}

.linkAnimation:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: gray;
  transition: top 0.3s ease-out;
  z-index: 1;
}

.linkAnimation:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: white;
  transition: top 0.3s ease-out 0.2s;
  z-index: 2;
}

.linkAnimation:hover::before,
.linkAnimation:hover::after {
  top: 0
}

.atropos-highlight {
  background-image: radial-gradient(circle at 50%, rgba(255, 255, 255, 0.5), transparent 50%) !important;
}

.swiper-pagination {
  position: static !important;
}

#tsparticles>canvas {
  position: absolute !important;
  inset: 0;
  z-index: 0;
  mask-image: linear-gradient(transparent, #000);
}

.swiper-slide {
  filter: grayscale(1);
  transition: filter 0.5s ease !important;
}

.swiper-slide-active {
  filter: grayscale(0);
}
